/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin:1%;
	padding:1%;
	font-size:150%;
}

/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 2em; 
	font-weight: bold;
	text-align: center;
}

/*Make the h2 heading match h1*/
h2{
	font-size: 1.8em; 
	color: #5E4B2D;
	font-weight: bold;
	text-align: center;
}

.wrapper{
	display: grid;
	padding: 10px;
	margin: 5px;
	border: 5px solid #5E4B2D;
	border-radius: 15px;
	grid-template-columns: 250px auto 250px auto;
	background-color: #F5F5DB;
}

.box{
	background-color: #F5F5DB;
	border-radius: 5px;
	padding: 20px;
	font-size: 100%;
	margin: 5px;
}

.box b{
	font-size: 1.5em; 
	color: #705039;
	font-weight: bold;
}

.box p{
	color: #5E4B2D;
}

/*Style the images*/
img{
    height: auto;
    width: 200px;
    border: 3px solid #C6AB80;
    padding: 2px;
    border-radius: 10px;
    margin: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img:hover{
    height: auto;
    width: 200px;
	filter: grayscale();
	border: 3px dashed #C6AB80;
}


/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
    padding: 10px;
	font-family: "Gill Sans", sans-serif;
}

/*Add borders around the main components and some
space too*/
header, main, nav, h1, footer{
	border: 2px solid grey;
	margin: 10px 0;
}

/*Change the styling for all of the list 
items in the nav section*/
nav li{
	color: #5E4B2D;
	font-family: 'Gill Sans', sans-serif;
	background-color: #F5F5DB;
	padding:10px;
	width: 23%;
	border-right: 3px solid #C6AB80;
	display: inline-block;
	text-align: center;
}

.active{
	color: #F5F5DB;
	background-color: #5E4B2D;
	font-weight: bold;
    text-transform: uppercase;
	text-align: center;
}

nav li a{
	text-decoration: none;
	color:#705039 !important;
}

.active a{
	text-decoration: none;
	color:#F5F5DB !important;
}

/*Added this so the links stay the same color*/

a:link{color: #5E4B2D;}
a:visited{color: #C6AB80;}
a:hover{color: grey;}
a:active{color:red;}

/*
. is a class
# is a ID
*/